.conatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25rem;
    height: 30rem;
    margin: 10px;
    border: 1px solid rgb(126, 118, 118);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 9px rgba(10, 7, 7, 0.4);
}
.card-content{
    margin: 10px;
}
.card-text {
    text-align: center;
    overflow: overlay;
}
.card-body{
        width: "90%";
        height:10rem;
    overflow: hidden;
    // background-color: blue;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    transform: scale(1.05);
}